<section id="banner">
    <!--This is the main banner-->

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-lg-4">
<div class="booking-form-box">
    <form >
        <h5 class="form-titleform-title">Time to pick your next stay!</h5>
        <div class="booking-group">
            <label for="location">WHERE</label>
             <select class="custom-select" id="cust-loc">
                <option value"" disabled selected> Location</option>
               <option value="1">Toronto, Ontario</option>
               <option value="2">Montreal, Quebec</option>
               <option value="3">Vancouver, British Columbia</option>
               <option value="4">Halifax, Nova Scotia</option>
            </select>
        <div class="input-grp">
            <label for="checkIn">CHECK-IN</label>
            <input type="date" class="form-control select-date">
        </div>
        <div class="input-grp">
            <label for="checkOut">CHECKOUT</label>
            <input type="date" class="form-control select-date">
        </div>

          <div class="input">
            <label for="guests">GUESTS</label>
           <select class="custom-select">
               <option value="1">1 guest</option>
               <option value="2">2 guests</option>
               <option value="3">3 guests</option>
               <option value="4">4 guests</option>
               <option value="5">5 guests</option>
               <option value="6">6 guests</option>
               <option value="7">7 guests</option>
               <option value="8">8 guests</option>

            </select>
        </div>
        <button type="submit" class="btn btn-primary-red btn-block">SEARCH</button>
        </div>
</form>
</div>
<div class="col-lg-8"></div>
</div>
</div>
</div>



    <!--This is the booking search form -->
</section>
<section class="promo">
<!--This is What guest say section -->
<div class="container-fluid padding">
    <div class="row welcome text-left">
        <div class="col-12">
            <h2 class="display-6">What guests are saying about homes in Canada</h2>
            <p class="lead">Canada homes were rated <strong> 4.7 out of 5 stars</strong> with <strong>6,500,000+ reviews</strong></p>
        </div>
    </div>
</div>
<!--Ths is Guest rating-->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="card-deck">
        
            <div class="card">
            <img class="card-img-top" src="/images/homepage1.jpg">
            <div class="card-body d-flex flex-column justify-content-between">
                <p class="card-text">The place was perfect ! It was everything we wanted. 
                    We had an amazing time and Roger was so nice and very understanding.
                </p>
            
            <div class="row">
                <div class="col-auto"><i class="far fa-user fa-3x"></i></div>
                <div class="col"><h5>Isabel Claribel</h5>
                <p class="card-text">Canada</p></div>
            </div>
             </div>
           
        </div>

        
             <div class="card">
            <img class="card-img-top" src="/images/homepage2.jpg">
            <div class="card-body d-flex flex-column justify-content-between">
                <p class="card-text">Great communication with host prior to our arrival. 
                    Apartment was clean and had everything we needed.
                </p>
            
            <div class="row">
                <div class="col-auto"><i class="far fa-user fa-3x"></i></div>
                <div class="col"><h5>Rachel</h5>
                <p class="card-text">Canada</p></div>
            </div>
            </div>
            </div>
        

        
             <div class="card">
            <img class="card-img-top" src="/images/homepage3.jpg">
            <div class="card-body d-flex flex-column justify-content-between">
                <p class="card-text">We really enjoyed staying at the flat. 
                    The Plateau is an ideal location for exploring 
                    Montreal as first time visitors.
                </p>
            
            <div class="row">
                <div class="col-auto"><i class="far fa-user fa-3x"></i></div>
                <div class="col"><h5>Tristan</h5>
                <p class="card-text">United Kingdom</p></div>
            </div>
            </div>
            </div>
        </div>
    </div>
    </div>
 </section>    

<!--This is Info section-->
<section class="info">
    <div class="container-fluid padding">
        <div class="row welcome text-left">
            <div class="col-12">
                <h2 class="display-6">Travelling with us</h2>
            </div>
        </div>
        <hr>
        <div class="row padding">
             <div class="col-md-4">
                <div class="card-body">
                        <div class="card-title"><i class="far fa-clock fa-3x"></i></div>
                <h4>
                    24/7 customer support
                </h4>
                <p class="card-text">
                    Day or night, we’re here for you. 
                    Talk to our support team from anywhere in the world, any hour of day.
                </p>
                </div>

            </div>

              <div class="col-md-4">
                <div class="card-body">
                     <div class="card-title"><i class="fas fa-globe-americas fa-3x"></i></div>
                <h4>
                    Global hospitality standards
                </h4>
                <p class="card-text">
                    Guests review their hosts after each stay. 
                    All hosts must maintain a minimum rating and 
                    our hospitality standards to be on The Weary Traveller.
                </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card-body">
                       <div class="card-title"><i class="far fa-smile fa-3x"></i></div>
                <h4>
                    5-star hosts
                </h4>
                <p class="card-text">
                    From fresh-pressed sheets to tips on where to get the best brunch, 
                    our hosts are full of local hospitality.
                </p> 
                </div> 
            </div>
        </div>
    </div>
     <hr>
</section>


