<section class="listing">
  <div class="container-fluid padding">
      <div class="row padding">
          <div class="card-deck" id="cardLine1">
         
               <div class="card">
                        <img class="card-img-top" src="/images/list1.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Luxurious Woodstone Crib and Pool Jacuzzi</h5>
                            <p class="card-text">$29 CAD/night</p>
                        </div>
                </div>

                 <div class="card">
                        <img class="card-img-top" src="/images/list2.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Maritacas I: Cozy chalet in the midst of nature!</h5>
                            <p class="card-text">$51 CAD/night</p>
                        </div>
                </div>

                 <div class="card">
                        <img class="card-img-top" src="/images/list3.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Maganos Frangiska Apt: Stunning views, near beach</h5>
                            <p class="card-text">$109 CAD/night</p>
                       </div>
                </div>
       
      </div>
      <div class="row padding">
           <div class="card-deck" id="cardLine2">
              
              <div class="card">
                        <img class="card-img-top" src="/images/list4.jpg">
                        <div class="card-body">
                            <h5 class="card-title">The Den - Scandinavian BBQ Cabin</h5>
                            <p class="card-text">$115 CAD/night</p>
                        </div>
                  
                </div>
                
                    <div class="card">
                        <img class="card-img-top" src="/images/list5.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Serrana Villa - Brand New, Close to Everything!</h5>
                            <p class="card-text">$294 CAD/night</p>
                        </div>
                    </div>
               
                 <div class="card">
                        <img class="card-img-top" src="/images/list6.jpg">
                        <div class="card-body">
                            <h5 class="card-title">Tipi da Serra - Inhotim</h5>
                            <p class="card-text">$118 CAD/night</p>
                        </div>
                    </div>
               </div>
            </div>  
      </div>
  </div>
  <hr>
 </section>    
